/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: lighten(#FF5733, 10%);
$background-color: lighten(blue, 38%);
$font-family: dynamic(arial);
$checkboxfield-checkbox-color:lighten(red, 10%);